<% if @custom_mail.mail_type == 'welcome' || @custom_mail.mail_type == 'admin_after_create' %>
  <p> You can use variables %&lt;email&gt;s, %&lt;role&gt;s </p>
<% else %>
  <p> You can use variables %&lt;email&gt;s, %&lt;role&gt;s, %&lt;first_name&gt;s, %&lt;last_name&gt;s, %&lt;city&gt;s, %&lt;age&gt;s</p>
<%end%> 
<h3><solid> If you want to use HTML tags or those variables, press 'Source'!</solid></h3>

<%= form_for @custom_mail do |f| %>
  <div class="form-group">
  	<%= f.label :subject %>
    <%= f.text_field :subject, class: 'form-control' %>
  </div>
  <div class="form-group">
  	<%= f.label :body %>
    <%= f.cktext_area :body, class: 'form-control', ckeditor: { language: 'eng'}, rows: 40, cols: 60 %>
    
  </div>
  <div class="form-group">
    <%= f.select :mail_type, CustomMail.mail_types.keys %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-primary' %>
    <%= link_to "Cancel", :back, class: 'btn btn-outline-primary' %>
  </div>
<% end %>
