<% if current_account.admin? %>

<h1> All users </h1>

<h2>Admins</h2>
<% @accounts.admin.each do |account| %>
  <p> <%= link_to account.first_name, account_path(account) %>	
  <%= link_to 'edit', edit_account_path(account) %>	
  <%= link_to 'delete', account_path(account),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
<% end %>

<h2>Vendors</h2>
<% @accounts.vendor.each do |account| %>
  <p> <%= link_to account.first_name, account_path(account) %>	
  <%= link_to 'edit', edit_account_path(account) %>	
  <%= link_to 'delete', account_path(account),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
<% end %>

<h2>Customers</h2>
<% @accounts.customer.each do |account| %>
  <p><%= link_to account.first_name, account_path(account) %>	
  <%= link_to 'edit', edit_account_path(account) %>	
  <%= link_to 'delete', account_path(account),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
<% end %>
<% end %>
